* {
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
 }
 
 body {
    background-color:gainsboro;
     opacity: 20px;
     background-image:url(https://p1.storage.canalblog.com/13/33/110219/115360972_o.png);
     background-size: cover;
     background-attachment: fixed;
 }