section {
    background-color:blue;
}
.first {
    color:red
}
.second {
    color: blueviolet; background-color: rgb(230, 237, 243);
}
.third {
    background-color:hsl(hue, saturation, lightness)
}
.fourth {
    color: darkkhaki; background-color: floralwhite;
}
.typefifth {
    background-color:currentColor
}